html,
body {
  background-image:url('https://image.freepik.com/free-photo/beer-glass-close-up-bubbles-beer-mug-with-water-drop_73523-964.jpg');
  background-size: cover;
  background-position: center;
},
#map {
  height: 100%;
  padding: 0;
  margin: 0;
}

.display-4 {
  text-align: center;
  font-weight: bold;
  opacity: 1;
  color: rgb(13, 12, 70);

}

p {
  text-align: justify;
  opacity: 1;
  color: rgb(13, 12, 70);
}

.jumbotron {
  background-image:url('https://image.freepik.com/free-photo/beer-glass-close-up-bubbles-beer-mug-with-water-drop_73523-964.jpg');
  background-size: cover;
  background-position: center; 
